<table class="table table-striped">
    <h1>Employee List</h1>
    <thead>
    <tr>
        <th>Name</th>
        <th>Room</th>
        <th>Phone</th>
        <th>Job</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {{# employee }}
        <tr>
            <td><a href="employeeDetail.php?employee_id={{ employee_id }}">{{surname}} {{ employeeName }}</a></td>
            <td>{{ roomName }}</td>
            <td>{{ phone }}</td>
            <td>{{ job }}</td>
            <td><form action="delete.php" method="post" onsubmit="return confirm('Really delete?\n\n this action cannot be undone!');" style="display: inline-block;">
                <input type="hidden" name="employee_id" value="{{ employee_id }}" />
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
                <a href="update.php?employee_id={{ employee_id }}" class="btn btn-info">Edit</a>
            </td>
        </tr>
    {{/employee}}
    </tbody>
</table>
<a href='../'><button type="button" class="btn btn-primary">Database Browser Menu</button></a>
<a href="../employee/create.php"><button type="button" class="btn btn-primary">+ New Employee</button></a>
<a href='../logout.php'><button type="button" class="btn btn-primary">Logout</button></a>