<form method="post" action="" class="login">
        <div class="my-2">
            <label for="username" class="form-label">Username</label>
            <input id="username" name="username" type="text" placeholder="username" class="form-control"/>
        </div>
        <div class="my-2">
            <label for="password" class="form-label">Password</label>
            <input id="password" name="password" type="password" placeholder="password" class="form-control"/>
        </div>
        <div class="my-2">
            <input type="submit" name="login" value="LOGIN" class="btn btn-primary"/>
        </div>
</form>