<table class="table table-striped">
    <h1>Room List</h1>
    <thead>
    <tr>
        <th>Name</th>
        <th>No.</th>
        <th>Phone</th>
    </tr>
    </thead>
    <tbody>
    {{# rooms }}
        <tr>
            <td><a href="roomDetail.php?room_id={{ room_id }}">{{ name }}</a></td>
            <td>{{ no }}</td>
            <td>{{ phone }}</td>
        </tr>
    {{/rooms}}
    </tbody>
</table>
<a href='../'><button type="button" class="btn btn-primary">Database Browser Menu</button></a>
<a href='../logout.php'><button type="button" class="btn btn-primary">Logout</button></a>